@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
.navbar--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
}

.container {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

.container_2 {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.font--h1 {
  font-size: 5rem;
  font-weight: 900;
  text-decoration: none;
  color: #61ce70;
}

.font--h2 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #61ce70;
}

.font--h3 {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}

.font--h4 {
  font-size: 1.75rem;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.5em;
}

.font--p {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.5em;
}

.button-subs {
  border-radius: 10em;
  border: 0;
  width: 10em;
  height: 3em;
  font-size: 1.5rem;
  color: white;
  background-color: #61ce70;
  cursor: pointer;
}

.button {
  padding: 1em 3em;
  border-radius: 10em;
  border: 0;
  font-size: 1.5rem;
  color: white;
  background-color: #61ce70;
  cursor: pointer;
}

.button-subs:hover {
  color: #61ce70;
  background-color: transparent;
  border: 1px solid #61ce70;
}

.button:hover {
  color: #61ce70;
  background-color: transparent;
  border: 1px solid #61ce70;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

.animation-pulse:hover {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.input {
  height: 3.5em;
}

.swiper-button-next,
.swiper-button-prev {
  color: #61ce70 !important;
}

.swiper-pagination-bullet-active {
  color: #61ce70 !important;
  background-color: #61ce70 !important;
}

.hide {
  display: none;
}

.line {
  width: 10%;
  height: 0.5em;
  border: 1px solid #61ce70;
  border-radius: 10em;
  background-color: #61ce70;
}

.search--input {
  width: 95%;
  height: 3.5rem;
  border: 0;
  padding: 0 1em;
  border-radius: 10rem 0 0 10rem;
  font-weight: 300;
}

.search--input:focus {
  outline: 0;
}

.search--input::-moz-placeholder {
  opacity: 0.5;
}

.search--input:-ms-input-placeholder {
  opacity: 0.5;
}

.search--input::placeholder {
  opacity: 0.5;
}

.search--button {
  width: 5%;
  height: 3.5rem;
  border: 0;
  border-radius: 0 10rem 10rem 0;
  background-color: #61ce70;
  color: white;
  cursor: pointer;
}

.search--button:hover {
  background-color: #2db03e;
}

.position {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 10rem 0;
}
.position .position--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.position .position--list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.position .position--list .list--filter {
  display: grid;
  grid-template-areas: "a b c d";
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.position .position--list .list--filter .filter--ops {
  border: 1px solid black;
  height: 5rem;
}
.position .position--list .list--filter .filter--ops .search--ops {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  border: 0;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}
.position .position--list .list--filter .filter--ops .search--ops .search--ops-input {
  width: 80%;
  height: 100%;
  padding: 0 0.5em;
  border: 0;
}
.position .position--list .list--filter .filter--ops .search--ops .search--ops-button {
  width: 10%;
  height: 100%;
  border: 0;
  background-color: transparent;
}
.position .position--list .list--filter .filter--ops .search--ops .search--ops-input:focus {
  outline: 0;
}
.position .position--list .list--filter .filter--ops .search--ops .search--ops-input::-moz-placeholder {
  font-weight: 300;
}
.position .position--list .list--filter .filter--ops .search--ops .search--ops-input:-ms-input-placeholder {
  font-weight: 300;
}
.position .position--list .list--filter .filter--ops .search--ops .search--ops-input::placeholder {
  font-weight: 300;
}
.position .position--list .list--filter .filter--ops .select--ops {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
  padding: 0 1em;
  font-weight: 300;
}
.position .position--list .list--jobs {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 4rem;
}
.position .position--list .list--jobs .jobs--card {
  display: flex;
  flex-direction: column;
  flex: 0 0 35rem;
  height: 21rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}
.position .position--list .list--jobs .jobs--card .jobs--card-container {
  width: 85%;
  height: 85%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.position .position--list .list--jobs .jobs--card .jobs--card-container h2 {
  color: #61ce70;
}
.position .position--list .list--jobs .jobs--card .jobs--card-container .job--detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.position .position--list .list--jobs .jobs--card .jobs--card-container .job--detail .detail--item {
  display: flex;
  gap: 1rem;
}
.position .position--list .list--jobs .jobs--card .jobs--card-container .job--detail .detail--item .detail--icon {
  width: 3rem;
}
.position .position--list .list--jobs .jobs--card .jobs--card-container a {
  color: #61ce70;
}/*# sourceMappingURL=index.css.map */