@use "../../base";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
}

.navbar--items {
    .items--list {
        display: flex;
        gap: 1em;
        transition: transform 1s ease-in-out;

        .list--items {
            transition: color 200ms ease-in;

            // border: 1px solid black;
            // border: 0.2rem dashed base.$color-primary;
            // border-bottom: 1rem dashed base.$color-primary;

            padding: 1.2em 1em;
        }

        .list--items:hover {
            cursor: pointer;
            color: base.$color-primary;
            border-bottom: 0.2rem solid base.$color-primary;
        }
    }
}
