@use "../../base";

.newsletter {
    width: 60%;
    height: 20rem;
    padding: 5rem 0;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
    border-radius: 2.5em;

    gap: 3em;

    .newsletter--input {
        display: flex;
        gap: 1.5rem;

        input {
            padding: 1rem 1rem;
            width: 30em;

            border-radius: 1em;
            border: 1px solid black;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;

    padding: 10rem 0;

    position: relative;

    .footer--columns {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr;

        gap: 2rem;

        width: 90%;

        margin: 0 auto;

        .footer--container {
            display: flex;
            flex-direction: column;

            gap: 1.5rem;

            h3 {
                font-size: base.$font-h3;
            }

            .footer--items_list {
                display: flex;
                flex-direction: column;

                gap: 0.5rem;

                flex-shrink: 0;
                // margin: 0 auto;

                .items_list--content {
                    display: flex;
                    gap: 1.5em;
                }

                .footer--icon {
                    width: 2rem;
                    height: 2rem;

                    flex-shrink: 0;

                    border: 1px solid pink;
                }
            }
        }
    }

    .footer--footer {
        position: absolute;
        bottom: 0;

        width: 100%;

        text-align: center;

        border-top: 1px solid black;

        padding: 1.5em 0;
        p {
            font-size: 1.2rem;
        }
    }
}
