@use "../../../base";

.blog--first_page {
    background-image: url("https://cdn.discordapp.com/attachments/539590616460296203/911919806276579368/main-bg.jpg");

    .first_page--content {
        min-height: 65vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 3rem;

        // margin: 0 auto;

        .content--search {
            display: flex;
            align-items: center;
        }
    }
}
